<head>
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
    <title></title>
</head>

{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/user">Fundeed</a>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/user">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Connect</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/matches">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
            </li>

        </ul>

    </div>
</nav>
{{!-- Add Break --}}
<br><br>


{{!-- Framework --}}
<div class="wrapper">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body" class="pageBody">

                            {{!-- Jumbotron --}}
                            <div class="jumbotron jumbotron-fluid" style="max-height: 15em;">
                                <div class="container">

                                    <h1 class="display-4" id="secret" matches={{matches}} style="text-align: center;">
                                        Congrats!</h1>
                                    <p class="lead" style="text-align: center;">on Connecting with Someone!</p>

                                </div>
                            </div>
                            {{!-- End Jumbotron --}}

                            {{!-- Matches --}}
                            <div class="container">
                                <div class="row">
                                    {{!-- Content --}}
                                    <div class="col-sm-8">
                                        {{!-- HERE WE DYNAMICALLY CREATE CHATS --}}
                                        <div class="container" id="chats">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{!-- Form --}}
                                        <form>
                                            <div class="form-group">
                                                <label id="label" for="comment"></label>
                                                <textarea class="form-control" id="comment" user-id=""
                                                    rows="3"></textarea>
                                            </div>
                                        </form>

                                        <button type="button" id="submit" class="btn btn-success"
                                            style="float: right;">Submit</button></div>
                                </div>
                            </div>
                            {{!--END Matches  --}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- End Framework --}}

{{!-- Footer --}}
<footer class="page-footer font-small black pt-4">
    <div class="footer-copwright text-center py-3">
        Copyright &copy; FunDeed 2019
    </div>
</footer>

{{!-- JQUERY --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

{{!-- Search Function --}}
<script src="../js/chats.js"></script>