<head>
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
    <title>{{msg}}</title>
</head>

{{!-- Navigation --}}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/user">Profile</a>
    </li>
</ul>

{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="align-content: center;">Fundeed</h1>
        <p class="lead">Time to Connect! Press the PASS button to not connect with this person and press CONNECT to try and Match with them!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        {{!-- Side --}}
        <div class="col-sm-2"></div>
        {{!-- Content --}}
        <div class="col-sm-8">
            {{!-- Form --}}
            <form>
                <div class="form-group">
                    <label for="bio">Users Bio</label>
                    <textarea class="form-control" id="bio" user-id="" rows="3"></textarea>
                </div>
            </form>

            <button type="button" class="btn btn-warning">PASS</button>

            <button type="button" class="btn btn-success" style="float: right;">Connect</button>

        </div>
        {{!-- Side --}}
        <div class="col-sm-2"></div>
    </div>
</div>

<footer class="page-footer font-small black pt-4">
    <div class="footer-copwright text-center py-3">
        Copyright &copy; FunDeed 2019
    </div>
</footer>

{{!-- JQUERY --}}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>

{{!-- Search Function --}}
<script src="js/search.js"></script>
