/*.list-group-item {
  line-height: 2.5;
} */

#mainNav {
    min-height: 56px;
    background-color: #EAF2FA;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #3D99F4;
    border: 1px solid #3D99F4;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #033362;
    font-weight: 700;
    padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: rgba(4, 22, 41, 0.3);
    }

    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(4, 22, 41, 0.3);
    }

    #mainNav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }

    #mainNav .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink {
        background-color: dummyea5523;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #ea5523;
    }

    #mainNav.navbar-shrink .nav-link {
        color: #ea5523;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: #ea5523
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: #ea5523;
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: #ea5523;
        outline: none;
        border-bottom: 0.25rem solid #ea5523;
    }
}

/* .jumbotron {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.jumbotron h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.jumbotron h2 {
    max-width: 20rem;
    font-size: 1rem;
} */

@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        height: 100vh;
        padding: 0;
    }

    .jumbotron h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }

    .jumbotron h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }


    body {
        font-family: 'Nunito';
        letter-spacing: 0.0625em;
    }

    footer {
        padding: 5rem 0;
        background-color: lightgray;
    }


}